/* HEADER */

.nabvar-middle i {
  display: none;
}

.bm-header {
  background-image: url("/media/blog-massonry/blog-massonry-head-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.bm-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-top: 50px;
}

.bm-navbar-left h3 {
  color: #fff;
  font-family: Barlow;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.bm-navbar-left h6 {
  color: #e7ecf2;
  font-family: Barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.bm-nabvar-middle ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  text-align: center;
  font-family: Barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 50px;
}

#burger {
  display: none;
}

.bm-navbar-right {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: Barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 10px;
}
/* CARDS */

.bm-cards {
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.bm-card {
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.bm-card img {
  
}

.bm-img {
  width: 100%;
}

.bm-card-img-txt {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 10px;
  gap: 5px;
}

.bm-card-img-txt span {

  color: #fff;
  text-align: center;
  font-family: Barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  border-radius: 5px;
  background-color: rgba(22, 19, 62, 0.36);
}

.bm-card-info {

}

.bm-card-info h3 {
  color: #16133e;
  font-family: Merriweather;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.bm-card-user {
  width: 100%;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bm-card-user i {
  width: 21px;
  height: 21px;
  border-radius: 21px;
  background-color: #c4c4c4;
}

.bm-card-user img {

}

.bm-card-user h6 {
  color: #f53b30;
  font-family: Barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.bm-card-user h5 {
  color: #717d8f;
  font-family: Barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.bm-card-comment {

}

.bm-card-comment p {
  color: #636a75;
  font-family: Barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

/* SLIDER */

.bm-slider {
  width: 87.5%;
  height: 100px;
  margin-top: 180px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bm-slider ul {
  width: 100%;
  height: 40px;
  margin-left: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.bm-slider ul li {
  width: 100%;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #e7ecf2;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bm-slider ul li:hover {
  background-color: red;
}
/* FOOTER */
