/* HEADER */

.bm-header {
  background-image: linear-gradient(
      0deg,
      rgba(22, 19, 62, 0.36) 0%,
      rgba(22, 19, 62, 0.36) 100%
    ),
    url("/media/blog-massonry/blog-massonry-head-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 75vh;
}


/* CARDS */

.bm-cards {
  padding-top: 124px;
  display: flex;
  gap: 60px;
  display: flex;
  flex-wrap: wrap;
}

.bm-card {
  width: calc((100% - (60px * (3 - 1))) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.bm-card-top {
  position: relative;
  width: 100%;
}

.bm-img {
  width: 100%;
}

.bm-card-img-txt {
  display: flex;
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 10px;
  gap: 10px;
}

.bm-card-img-txt span {
  padding: 2px 8px;
  color: #fff;
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  border-radius: 5px;
  background-color: rgba(22, 19, 62, 0.36);
}

.bm-card-bottom {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.bm-card-info h3 {
  color: #16133e;
  font-family: Merriweather;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.bm-card-user {
  padding: 26px 0 34px;
  display: flex;
  gap: 10px;
}

.bm-card-user i {
  width: 21px;
  height: 21px;
  border-radius: 21px;
  background-color: #c4c4c4;
}

.bm-card-user h6 {
  color: #f53b30;
  font-family: Barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.bm-card-user h6 span {
  color: #717d8f;
  font-family: Barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.bm-card-comment p {
  padding-bottom: 72px;
  color: #636a75;
  font-family: Barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

/* SLIDER */

.bm-slider {
  padding-top: 50px;
  padding-bottom: 90px;
  text-align: center;
}

.bm-slider ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.bm-slider ul li {
  padding: 10px 15px;
  border-radius: 50px;
  border: 1px solid #e7ecf2;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bm-slider ul li:hover {
  background-color: red;
}
/* FOOTER */
