/* contact */
.contact-header {
  background-image: url("/media/contact/Contact-Background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 75vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-top: 50px;
}

.navbar-left h3 {
  color: #fff;
  font-family: Barlow;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.navbar-left h6 {
  color: #e7ecf2;
  font-family: Barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.nabvar-middle ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  text-align: center;
  font-family: Barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 50px;
}

#burger {
  display: none;
}

.navbar-right {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: Barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 10px;
}

.bg-image-text h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 400px;
  padding-top: 100px;
}

.bg-image-text p {
  padding-top: 20px;
  color: #fff;
  font-family: Barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

/* lets something together */

.contact-top-blue {
  background-color: #16133e;
}

.contact-top-blue h2 {
  padding: 120px 0 180px;
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.contact-top-White {
  background-color: #fff;
}

.contact-top-white-cards {
  padding-bottom: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  gap: 70px;
}

.contact-top-white-card {
  width: calc((90% - (60px * (3 - 1))) / 3);
  margin-top: -70px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: 0px 3px 5px 0px rgba(22, 35, 54, 0.1);
  align-content: center;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.contact-top-white-card i {
  color: #f53b30;
  font-family: orion-font;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-top-white-card h6 {
  color: #16133e;
  font-family: Merriweather;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.contact-top-white-card p {
  color: #636a75;
  font-family: Barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

/* send us message */
.contact-middle {
  background-color: #f7f8fa;
  /* margin: auto; */
}

.contact-middle-send h2 {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 60px;
  text-align: center;
  color: #16133e;
  text-align: center;
  font-family: Merriweather;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.contact-middle-form form {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#name,
#email,
#website {
  line-height: 2.5rem;
  padding-left: 10px;
  padding-bottom: 10px;
  border: 2px solid #f53b30;
}

#message {
  padding: 10px 0 100px 10px;
  border-radius: 3px;
  border: 2px solid #f53b30;
}

.chec-lab {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.contact-middle-button {
  text-align: center;
  padding-top: 20px;
}

#contact-send-message {
  width: 100%;
  padding: 10px 0;
  border-radius: 50px;
  border: none;
  background-color: #f53b30;
  color: #fff;
  text-align: center;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 250% */
}

.contact-footer-top {
  padding-top: 120px;
}

.contact-footer-top iframe {
  width: 100%;
  height: 350px;
  border: none;
}
