@media only screen and (max-width: 768px) {
  /* ABOUT */
  /* navbar */

  .nabvar-middle ul {
    display: none;
  }

  #burger {
    color: #e7ecf2;
    font-size: 1.2rem;
    display: block;
    padding-right: 20px;
  }

 


  .middle-top-left {
    width: 100%;
    margin: 0 auto;
  }

  .middle-top-left h2 {
    margin: 0 auto;
  }
  .middle-top-left h6 {
    width: 100%;
    margin: 0 auto;
  }
  .middle-top-left button {
    width: 100%;
    margin: 40px 0 auto;
  }

  .middle-top-right {
    width: 100%;
    margin: 0 auto;
  }

  /* Behind the Story */

  .middle-middle {
    width: 100%;
    margin-bottom: 200px;
  }

  .middle-middle-top {
    width: 100%;
    margin: 0 auto;
  }
  .middle-middle-top-text h2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .middle-middle-top-text p {
    width: 100%;
    margin: 0 auto;
  }
  
  .middle-middle-bottom-box {
    width: 48%;
  }
  
  .not-border {
    width: 48%;
  }

  .bottom-box img {
    width: 100%;
  }

  /* world class team */
  .middle-bottom-top {
    margin-top: -130px;
    margin-bottom: 50px;
  }

  .middle-bottom-top h2 {
    padding-bottom: 20px;
  }

  .middle-bottom-middle-cards {
    width: 100%;
  }

  .middle-bottom-middle-cards-text{
    width: 50%;
    margin: 0 auto;
   padding-top: 20px;
   padding-bottom: 50px;
    }

    .middle-bottom-middle h6 {
      padding-bottom: 5px;
    }
    
    .middle-bottom-middle h4 {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    

  /* footer */
  .about-footer-top,
  .about-footer-bottom {
    flex-wrap: wrap;
  }

  .about-footer-top-left,
  .about-footer-top-right,
  .about-footer-bottom-left,
  .about-footer-bottom-left {
    width: 100%;
  }

  .about-footer-top-left {
    margin: 50px auto;
    align-items: center;
  }

  .about-footer-bottom-right {
    margin: 20px auto;
    justify-content: center;
    align-items: center;
  }

  /* ------------------------------------------------------------------------------------------------------------ */
  /* CONTACT */
  /* contact */

  /* navbar */

  /* lets something together */

  .contact-top-blue h2 {
    padding: 120px 50px 180px;
  }

  .contact-top-white-card {
    width: 50%;
    margin: -70px auto 40px;
  }

  /* send us message */

  /* ------------------------------------------------------------------------------------------------------------ */
  /* BLOG-MASSONRY */
  /* HEADER */

  /* CARDS */
  .bm-card {
    width: 100%;
  }

  .bm-card-comment p {
    margin-bottom: -90px;
  }

  /* SLIDER */

  /* FOOTER */
}
